name: Prisma Migrate Deploy

on:
  push:
    paths:
      - prisma/migrations/**
    branches:
      - main

jobs:
  migrate:
    name: Run Prisma Migrations with pnpm
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma client
        run: pnpm prisma generate

      - name: Run Prisma Migrate Deploy
        run: pnpm prisma migrate deploy
